<div class="car">
  <div class="header">
    <div class="header-item name">{{ car.name }}</div>
    <div class="header-item model">{{ car.model }}</div>
    <div class="header-item year">{{ car.year }}</div>
  </div>
  <div class="inner-content">
    <img src="./assets/img/{{ currentColor.img ? currentColor.img : 'no-image.png' }}" alt="car-photo">
  </div>

  <ul class="color-select">
    <li *ngFor="let color of car.colors" 
        class="color {{color.color}}"
        [ngClass]="{active: color === currentColor}"
        (click)="changeColor(color)">
    </li>
  </ul>
</div>
